<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="View the latest standings for the Argentine Primera División soccer league. Stay up-to-date with team rankings, wins, losses, and points.">
    <meta name="keywords" content="football, Argentina, soccer, Primera División, standings, league, rankings, points, wins, losses">
    <meta name="author" content="Fabrizio Carrizo">
    <meta property="og:title" content="Argentine Primera División Standings">
    <meta property="og:description" content="View the latest standings for the Argentine Primera División soccer league. Stay up-to-date with team rankings, wins, losses, and points.">
    <meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/5/5c/Logo_Liga_Profesional_de_F%C3%BAtbol_%28Argentina%29.png">
    {{!-- <meta property="og:url" content="https://example.com"> --}}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Argentine Primera División Standings">
    <meta name="twitter:description" content="View the latest standings for the Argentine Primera División soccer league. Stay up-to-date with team rankings, wins, losses, and points.">
    <meta name="twitter:image" content="https://upload.wikimedia.org/wikipedia/commons/5/5c/Logo_Liga_Profesional_de_F%C3%BAtbol_%28Argentina%29.png">
    <link rel="icon" type="image/x-icon" href="https://seeklogo.com/images/L/liga-profesional-de-futbol-logo-E1030CA548-seeklogo.com.png">
    <link rel="stylesheet" type="text/css" href="/assets/index.css">
    <title>Argentine Primera División Standings</title>
  </head>
  <body>
    <h1>Argentine Primera División </h1>
    {{{body}}}
  </body>
</html>
