<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Mirá la tabla de posiciones más reciente de la Primera División. Mantenete actualizado con las posiciones de los equipos, victorias, derrotas y puntos."
    />
    <meta
      name="keywords"
      content="football, Argentina,River, Boca, Primera División, standings, league, rankings, points, wins, losses"
    />
    <meta name="author" content="Fabrizio Carrizo" />
    <meta
      property="og:title"
      content="Tabla de la Primera División Argentina"
    />
    <meta
      property="og:description"
      content="Mirá la tabla de posiciones más reciente de la Primera División. Mantenete actualizado con las posiciones de los equipos, victorias, derrotas y puntos."
    />
    <meta
      property="og:image"
      content="https://upload.wikimedia.org/wikipedia/commons/5/5c/Logo_Liga_Profesional_de_F%C3%BAtbol_%28Argentina%29.png"
    />
    <meta
      property="og:url"
      content="https://mustang-challenge-production.up.railway.app/"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Tabla de la Primera División Argentina"
    />
    <meta
      name="twitter:description"
      content="Mirá la tabla de posiciones más reciente de la Primera División. Mantenete actualizado con las posiciones de los equipos, victorias, derrotas y puntos."
    />
    <meta
      name="twitter:image"
      content="https://upload.wikimedia.org/wikipedia/commons/5/5c/Logo_Liga_Profesional_de_F%C3%BAtbol_%28Argentina%29.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://seeklogo.com/images/L/liga-profesional-de-futbol-logo-E1030CA548-seeklogo.com.png"
    />
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
    <title>Primera División Argentina</title>
  </head>
  <body>
    <h1>Primera División Argentina</h1>
    {{{body}}}
    <div class="container">
      <p class="green">Clasifican a copa</p>
      <p class="red">Juegan el descenso</p>
    </div>

  </body>
</html>